.thought-table{
    max-width: 800px;
}
.Thought-tr{
    cursor: pointer;
}
.thought-table-row{
    text-align: center;
}
.loader{
    width: 290%;
    display: flex;
    justify-content: center;
}
.mood-btn{
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.mood-btn:hover{
    background-color: rgb(255, 242, 0);
}